html, body
  width: 100%
  height: 100%
  min-width: 100%
  min-height: 100%
  max-width: 100%
  max-height: 100%
  background-color: #7c94e8

* *
  box-sizing: border-box

main
  border: 1px solid white
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

* *
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.fillin-task
  position: absolute
  width: 60%
  left: 20%
  top: 5%
  font-size: 150%
  font-family: sans-serif
  text-align: center
  line-height: 1.8em

.fillin-task input
  font-size: 100%
  background-color: transparent
  border: none
  border-bottom: 1px solid black
  text-align: center
  font-weight: bold

.check-button
  text-decoration: none

.check-button:hover
  color: blue
  text-decoration: underline
  font-weight: bold

.true-input
  border-bottom: green
  color: green

.false-input
  border-bottom: red
  color: red

.transition-2s
  transition: all 2s
  ms-transition: all 2s
  webkit-transition: all 2s
  moz-transition: all 2s
  o-transition: all 2s

.flipped-180
  transform: rotateY(180deg)
  backface-visibility: hidden
