html, body
  width: 100%
  height: 100%
  min-width: 100%
  min-height: 100%
  max-width: 100%
  max-height: 100%
  background-color: #7c94e8
  overflow: hidden

* *
  box-sizing: border-box

main
  border: 1px solid white
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

* *
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.rlo-list
  display: block
  position: absolute
  margin: 0%
  left: 0%
  top: 0%
  width: 20%
  height: 100%
  border-right: 1px solid lightgrey
  padding: 5%
  list-style-type: square
  font-size: 130%
  overflow-y: scroll

.rlo-list
  a
    font-family: sans-serif
    line-height: 1.5em
    text-decoration: none
    color: white

  a:hover
    text-decoration: underline
    color: lightgrey

iframe.small
  position: absolute
  left: 40%
  top: 30%
  width: 50%
  height: 50%
  overflow: hidden
  border: none

iframe.big
  position: absolute
  left: 0%
  top: 0%
  width: 100%
  height: 100%
  overflow: hidden
  border: none
  z-index: 100

.fullscreen-button
  position: absolute
  width: 2%
  height: 4%
  left: 86%
  top: 74%
  background-image: url(fullscreen.png)
  background-repeat: no-repeat
  background-size: 100% 100%
  cursor: pointer

.fullscreen-button:hover
  background-image: url(fullscreen-active.png)

.smallscreen-button
  position: absolute
  width: 2%
  height: 4%
  left: 96%
  top: 94%
  background-image: url(smallscreen.png)
  background-repeat: no-repeat
  background-size: 100% 100%
  cursor: pointer
  z-index: 101

.smallscreen-button:hover
  background-image: url(smallscreen-active.png)
