html, body
  width: 100%
  height: 100%
  min-width: 100%
  min-height: 100%
  max-width: 100%
  max-height: 100%
  background-color: #7c94e8

* *
  box-sizing: border-box

main
  border: 1px solid white
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

* *
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.ball, .basket
  position: absolute
  width: 12%
  height: 8%
  font-size: 130%
  text-align: center
  padding: 1em

.ball
  background-color: white
  color: black
  border-radius: 10px
  top: 10%

.basket
  background-color: #bce3ec
  color: green
  top: 25%

.ball-1, .basket-1
  left: 5%

.ball-2, .basket-2
  left: 25%

.ball-3, .basket-3
  left: 45%

.ball-4, .basket-4
  left: 65%

.ball-5, .basket-5
  left: 85%
