html, body
  width: 100%
  height: 100%
  min-width: 100%
  min-height: 100%
  max-width: 100%
  max-height: 100%
  background-color: #7c94e8

* *
  box-sizing: border-box

main
  border: 1px solid white
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

* *
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.button
  position: absolute
  width: 12%
  height: 8%
  font-size: 130%
  text-align: center
  padding: 1em
  background-color: white
  color: black
  border-radius: 10px
  top: 10%
  font-family: sans-serif
  cursor: pointer

.button:hover
  background-color: black
  color: white

.row-1
  top: 10%

.row-2
  top: 22%

.row-3
  top: 34%

.row-4
  top: 46%

.button-1
  left: 5%

.button-2
  left: 25%

.button-3
  left: 45%

.button-4
  left: 65%

.button-5
  left: 85%

.active-button
  color: white
  background-color: black

.transition-s
  transition: all 1s
  backface-visibility: hidden
  webkit-backface-visibility: hidden

.flipped
  transform: rotateY(180deg)

.false
  background-color: red
