html, body
  width: 100%
  height: 100%
  min-width: 100%
  min-height: 100%
  max-width: 100%
  max-height: 100%
  background-color: #7c94e8

* *
  box-sizing: border-box

main
  border: 1px solid white
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

* *
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.m-task
  position: absolute
  border: 2px solid white
  height: 90%
  width: 50%
  left: 25%
  top: 5%

.m-task
  .question, .answer, .m-comment
    position: relative
    width: 100%
    font-size: 150%
    padding: 1em
    color: white
    font-family: sans-serif

  .answer
    cursor: pointer
    text-decoration: none

  .answer:hover
    text-decoration: underline

  .answer-list
    list-style-type: none

  .true-answer
    color: green

  .false-answer
    color: red

  .should-have
    color: green
    text-decoration: underline
